html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
img {
	display: block;
	max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}
body {
	max-width: 1920px;
	margin: 0 auto;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}
.container {
	max-width: 1110px;
	margin: 0 auto;
}
:root {
	--accept-color: #34547a;
	--silver-color: #eeeff1;
	--description-color: #727272;
	--progress-bar-color: #c4c4c4;
}

/* Стили для текстов  */

.text-h2 {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 32px;
}
.text-h3 {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 21px;
}
.text-p {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
}

/* Меню навигации */

.header {
	background-color: var(--silver-color);
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 62px;
	margin-bottom: 147px;
}
.navigation__logo {
	margin-top: 2px;
	margin-left: 2px;
}
.navigation__menu {
	display: flex;
	justify-content: space-between;
	gap: 42px;
	margin-right: 10px;
}
.navigation__menu-item {
	text-decoration: none;
	color: #000;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	transition: 0.6s ease;
}

.navigation__menu-item:hover {
	color: var(--accept-color);
}

/* Header__second-screen */

.header__second-screen {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 130px;
}
.header__second-screen__img {
	padding-top: 22px;
}
.header__second-screen__sidetext {
	max-width: 541px;
}
.header__title {
	font-size: 48px;
	margin-bottom: 45px;
	font-weight: 500;
	margin-right: 1px;
}
.header__description {
	color: var(--description-color);
	line-height: 26px;
	margin-bottom: 52px;
	margin-left: 1px;
}
.header__button {
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	color: #fff;
	background-color: var(--accept-color);
	padding: 25px 42px 21px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.1em;
	margin-bottom: 146px;
	margin-left: 1px;
}

/* Адаптив под маленькие экраны блока header */

@media screen and (max-width: 1280px) {
	.header {
		padding: 0 15px;
	}
}
@media screen and (max-width: 768px) {
	.navigation {
		flex-wrap: wrap;
		flex-direction: column;
		gap: 30px;
	}
	.navigation__menu {
		flex-wrap: wrap;
		gap: 15px;
	}
	.header__second-screen {
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
	}
}

/* Block about */

.about {
	padding-top: 119px;
	padding-bottom: 92px;
	max-width: 540px;
	text-align: center;
	margin: 0 auto;
}
.about__title {
	margin-bottom: 39px;
}
.about__description {
	color: var(--description-color);
	line-height: 26px;
	max-width: 540px;
	margin: 0 auto;
	text-align: center;
}

/* Адаптив под маленькие экраны блока about */

@media screen and (max-width: 768px) {
	.about {
		padding: 100px 15px;
	}
}

/* Block numbers */

.numbers {
	background-color: var(--accept-color);
	padding-top: 100px;
	padding-bottom: 91px;
}
.numbers__grid-container-projects {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 30px;
}
.numbers__grid-container-projects-item {
	display: grid;
	grid-template-columns: 50px 1fr;
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 5px;
	grid-template-areas:
		"image project-number"
		"image project-description";
}
.numbers__grid-container-projects-item__img {
	grid-area: image;
}
.numbers__grid-container-projects-item__project-number {
	grid-area: project-number;
	font-size: 21px;
	color: #fff;
	margin-top: 2px;
}
.numbers__grid-container-projects-item__project-description {
	grid-area: project-description;
	color: #fff;
	font-size: 16px;
}

/* Адаптив под маленькие экраны блока numbers */

@media screen and (max-width: 1280px) {
	.numbers {
		padding: 0 15px;
	}
	.numbers__grid-container-projects {
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
		padding-top: 40px;
		padding-bottom: 40px;
	}
}
@media screen and (max-width: 768px) {
	.numbers__grid-container-projects {
		grid-template-columns: repeat(2, 150px);
		justify-content: space-evenly;
	}
}
@media screen and (max-width: 349px) {
	.numbers__grid-container-projects {
		grid-template-columns: repeat(1, 1fr);
	}
}

/* Block skills */

.skills {
	padding: 102px 0 101px 2px;
}
.container__skills {
	max-width: 1150px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 150px;
}
.skills__left-side {
	height: 450px;
}
.skills__title {
	padding-top: 102px;
	margin-bottom: 42px;
}
.skills__description-container {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.skills__description-container-item {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.skills__description {
	padding-left: 1px;
	margin-bottom: 4px;
	color: var(--description-color);
}
.skills__progress-bar {
	display: flex;
	width: 445px;
	height: 4px;
	background-color: var(--progress-bar-color);
}
.skills__progress-bar-completed {
	background-color: var(--accept-color);
	width: 350px;
}
.skills__progress-bar-remaining {
	width: 95px;
	background-color: red;
}
.skills__right-side {
	max-width: 555px;
}

/* Адаптив под маленькие экраны блока skills */

@media screen and (max-width: 1280px) {
	.skills {
		padding: 100px 15px;
	}
	.container__skills {
		flex-wrap: wrap;
		gap: 100px;
	}
	.skills__left-side {
		height: auto;
	}
}
@media screen and (max-width: 768px) {
	.skills {
		padding: 50px 15px;
	}
	.skills__title {
		padding-top: 42px;
		margin-bottom: 42px;
	}
}

/* Block video */

.video {
	background-color: var(--silver-color);
	padding-top: 100px;
	padding-bottom: 96px;
	text-align: center;
}
.video__title {
	margin-bottom: 39px;
}
.video__description {
	color: var(--description-color);
	line-height: 26px;
	max-width: 540px;
	margin: 0 auto;
}
video {
	padding-top: 49px;
	width: 100%;
	/* max-width: 1100px; */
	/* max-height: 600px; */
	cursor: pointer;
}
